$color: black;
$text-color: #333B41;
$border-color: #F9804B;
$border-form: #4B9200;
$border-text: #FFFFFF;
$friend-color: #FE9013;
$pink-gradient: #FEBDAB;

@mixin bg-button {
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}