@import "colors";

.button {
  width: 298px;
  height: 54px;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  border: none;
  cursor: pointer;

  &--orange {
    @include bg-button;
  }

  &--rounded {
    border-radius: 25px;
  }

  &:hover {
    background: $friend-color;
  }

  &:active {
    background: $border-form;
  }

  &:disabled {
    background: $text-color;
  }

}
